[Unit]
Description=Declenche pc-power-log.service périodiquement

[Timer]
OnBootSec=2min
OnUnitActiveSec=5min
Persistent=true

[Install]
WantedBy=timers.target
